@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.main-container .title {
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title > h2 {
  font-weight: bold;
  color: #242424;
}

.image-form input[type="file"] {
  display: none;
}

.image-form .choose-file-custom {
  padding: 6px 12px;
  cursor: pointer;
  background-image: linear-gradient(
    109.6deg,
    rgba(45, 116, 213, 1) 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  height: 45px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #e0c3fc;
  font-weight: bold;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.image-section .image-preview {
  background-image: linear-gradient(
    109.6deg,
    rgba(45, 116, 213, 1) 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  width: 350px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.image-section .image-preview .img-responsive {
  border-radius: 30px;
}

.image-section .predict-button {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  background-image: linear-gradient(
    109.6deg,
    rgba(45, 116, 213, 1) 11.2%,
    rgba(121, 137, 212, 1) 91.2%
  );
  border: none;
  color: #242424;
  font-weight: bold;
  padding: 10px;
}
