{% extends "import.html" %} {% block content %}

<div class="main-container">
  <div class="title">
    <h2>Детектор раку мозгу</h2>
  </div>
  <div class="image-form">
    <form id="upload-file" method="post" enctype="multipart/form-data">
      <label for="imageUpload" class="choose-file-custom">Виберіть фото</label>
      <input
        type="file"
        name="file"
        class="choose-file"
        id="imageUpload"
        accept=".jpg"
      />
    </form>
  </div>

  <div class="image-section" style="display: none">
    <div class="image-preview">
      <img
        id="imagePreview"
        alt="MRI"
        class="img-responsive"
        src="#"
        style="width: 300px; height: 300px"
      />
    </div>
    <div>
      <button type="button" class="predict-button" id="btn-predict">
        Дізнатись результат
      </button>
    </div>
  </div>

  <div class="loader" style="display: none"></div>

  <h3 id="result">
    <span> </span>
  </h3>
</div>
{% endblock %}
